# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
Build/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Asset meta data should be tracked (don't ignore .meta files)

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# OS files
.DS_Store
Thumbs.db

# UWP build output
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.appxupload

# UWP Visual Studio build output
Build/

# Crashlytics
crashlytics-build.properties